<hr>
<footer>
    <div class="footer-content">
        <div class="youtube-player-wrapper">
            <div class="player-header">
                <span id="status-icon">●</span> J-MUSIC_STREAMING_NODE
            </div>
            <div class="iframe-container">
                <!-- ID de la playlist insertado correctamente -->
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLujyq4vbUunu9zFP9mvTYIkCbbhUZ1-9D&autoplay=0&controls=1&modestbranding=1&theme=dark" 
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div>
        <p>© 2026 J-Music - Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>
