<!DOCTYPE html>
<html>
<head>
    <title>J-Music</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Etiqueta de verificación de Google AdSense -->
    <meta name="google-adsense-account" content="ca-pub-5210991734700790">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3HT01W0W7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J3HT01W0W7');
    </script>

    <!-- Script de Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5210991734700790"
     crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/artistas">Artistas</a> | <a href="/sobre-nosotros">Sobre Nosotros</a>
    </nav>
    <hr>
