<!DOCTYPE html>
<html>
<head>
    <title>J-Music</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- El atributo defer es clave para la persistencia del reproductor -->
    <script src="/js/main.js" defer></script>
</head>
<body>
    <nav>
        <a href="/" class="nav-link">Inicio</a> | 
        <a href="/artistas" class="nav-link">Artistas</a> | 
        <a href="/sobre-nosotros" class="nav-link">Sobre Nosotros</a>
    </nav>
    <hr>
