<!DOCTYPE html>
<html>
<head>
    <title>J-Music</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/artistas">Artistas</a> | <a href="/sobre-nosotros">Sobre Nosotros</a>
    </nav>
    <hr>
