<!DOCTYPE html>
<html>
<head>
    <title>J-Music</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script de Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5210991734700790"
     crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/artistas">Artistas</a> | <a href="/sobre-nosotros">Sobre Nosotros</a>
    </nav>
    <hr>
